body {
    padding: 30px;
}

.session-id-header {
    font-size: 30px;
    text-align: center;
    width: 100%;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.message-board {
    text-align: center;
    height: 500px;
    overflow-y: auto;
    border: 3px #333333 solid;
    padding-left: 5%;
    border-radius: 10px;
}

.message {
    width: 90%;
    border-bottom: 2px #cccccc solid;
    padding: 30px;
}

