<table class="outer-table">
</table>
<div class="button-container" ng-if="role === 'user'">
    <div class="sudoku-button" ng-click="onNumberClick(1)">1</div>
    <div class="sudoku-button" ng-click="onNumberClick(2)">2</div>
    <div class="sudoku-button" ng-click="onNumberClick(3)">3</div>
    <div class="sudoku-button" ng-click="onNumberClick(4)">4</div>
    <div class="sudoku-button" ng-click="onNumberClick(5)">5</div>
    <div class="sudoku-button" ng-click="onNumberClick(6)">6</div>
    <div class="sudoku-button" ng-click="onNumberClick(7)">7</div>
    <div class="sudoku-button" ng-click="onNumberClick(8)">8</div>
    <div class="sudoku-button" ng-click="onNumberClick(9)">9</div>
    <div class="sudoku-button clear-key" ng-click="onDeleteClick()" >DEL</div>
</div>