<!doctype html>
<html ng-app="adminApp">
<head>
    <link rel="stylesheet" type="text/css" href="/css/connect.css">
    <script src="/lib/jquery.2.1.1.js"></script>
    <script src="/connect.js"></script>
</head>
<body>
<span class="title">Please enter id to audit</span>
<input class="enter-id">
<button onclick="connectToLink()">Start</button>
</body>
</html>