<!doctype html>
<html ng-app="adminApp">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="mobile portfolio, mobile portfolio site">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/connect.css">
    <script src="/lib/jquery.2.1.1.js"></script>
    <script src="/connect.js"></script>
</head>
<body>
    <img class="large-logo" src="/images/interactive-logo.png">
    <div class="title">Please enter ID to join</div>
    <input type="text" placeholder="ID Number" class="enter-id">
    <button onclick="connectToLink()">GO!</button>
</body>
</html>