<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/upload-game.css">
    <script src="/lib/jquery.2.1.1.js"></script>
    <script src="/lib/dropzone.js"></script>
</head>
<body>
    <form action="/store/upload" class="dropzone" id="my-awesome-dropzone">
        <div class="fallback">
            <input name="file" type="file" multiple />
        </div>
    </form>
</body>
</html>
