body {
    /*font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    color: #555;
}

.myGrid {
    width: 100%;
    height: 80vh;
}

.expandableRow {
    border: 1px #aaaaaa solid;
}

.summery {
    padding: 15px;
    float: left;
}

.ui-grid-viewport {

}

.expanded-grid {
    height: 300px;
}

div.myGrid .ui-grid-row:last-child .ui-grid-cell, div.expandableRow .ui-grid-row:last-child .ui-grid-cell{
    border-bottom-width: 1px;
}

div.myGrid .ui-grid-cell:last-child, div.expandableRow .ui-grid-cell:last-child{
    border-right: 1px #cccccc solid;
}

.la-ball-running-dots {
    position: absolute;
    margin: 100px 50%;
}

.myGrid .la-ball-running-dots {
    position: absolute;
    margin: 80px 50%;
}

ul.tabs {
    padding: 0;
    margin-bottom: 0;
}

div.tab-view {

}

ul.tabs li:last-child {
    border-right: 2px solid #cccccc;
}

ul.tabs li {
    display: inline-block;
    text-transform: uppercase;
    border: 2px solid #cccccc;
    border-right: 0;
    border-bottom: 0;
    padding: 13px;
    cursor: pointer;
    background-color: #cccccc;
    font-weight: 700;
}

ul.tabs li.active {
    background-color: white;
    cursor: default;
}